@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right, #025939, #024029);

}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #b0bfba;
}

h1 { 
    color: #B0BFBA;
    text-align: center;
    text-shadow: 1px 1px 2px black;

}

h2 {
    color:#024029 ;


}

p {
    text-align: justify;
}